@include border-box-sizing;

::selection {
  background: $blue-white-whale;
  text-shadow: none;
}

html {
  $light-mix: mix($white, mix($white, mix($blue, $white)));
  $light:     mix($light-mix, $khaliki);
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: {
    image:
      radial-gradient(circle at 100% 150%, $light      24%,
                                           $white      25%,
                                           $white      28%,
                                           $light      29%,
                                           $light      36%,
                                           $white      36%,
                                           $white      40%,
                                           transparent 40%,
                                           transparent),
      radial-gradient(circle at 0    150%, $light      24%,
                                           $white      25%,
                                           $white      28%,
                                           $light      29%,
                                           $light      36%,
                                           $white      36%,
                                           $white      40%,
                                           transparent 40%,
                                           transparent),
      radial-gradient(circle at 50%  100%, $white      10%,
                                           $light      11%,
                                           $light      23%,
                                           $white      24%,
                                           $white      30%,
                                           $light      31%,
                                           $light      43%,
                                           $white      44%,
                                           $white      50%,
                                           $light      51%,
                                           $light      63%,
                                           $white      64%,
                                           $white      71%,
                                           transparent 71%,
                                           transparent),
      radial-gradient(circle at 100% 50%,  $white      5%,
                                           $light      6%,
                                           $light      15%,
                                           $white      16%,
                                           $white      20%,
                                           $light      21%,
                                           $light      30%,
                                           $white      31%,
                                           $white      35%,
                                           $light      36%,
                                           $light      45%,
                                           $white      46%,
                                           $white      49%,
                                           transparent 50%,
                                           transparent),
      radial-gradient(circle at 0    50%,  $white      5%,
                                           $light      6%,
                                           $light      15%,
                                           $white      16%,
                                           $white      20%,
                                           $light      21%,
                                           $light      30%,
                                           $white      31%,
                                           $white      35%,
                                           $light      36%,
                                           $light      45%,
                                           $white      46%,
                                           $white      49%,
                                           transparent 50%,
                                           transparent);
    size: 6rem 3rem;
    attachment: fixed;
  }
  color: mix($black, $marvel);
  text-shadow: 0 $size-hairline $size-xx-small rgba($white, .875);
}

body {
  font: #{$size-medium}/#{$line-height} $font-family;
  background: transparent;
}

a {
  color: mix($blue, $marvel);
  text-decoration: none;
}

abbr[title] { cursor: help; }

strong,
b,
th {
  font-weight: $font-weight-regular;
  color: $black;
}

%margin-reset  { margin:  0; }
%border-reset  { border:  0; }
%padding-reset { padding: 0; }

#{headings()} {
  @extend %margin-reset;
  margin: {
       top: $size-xx-large;
    bottom: $size-large;
  }
  font-weight: $font-weight-regular;
  line-height: $line-height-heading;
  text-transform: lowercase;
  color: $black;
}

h1 { font-size: $size-large; }

h2 {
  display: inline-block;
  border-bottom: $border;
  padding-bottom: $size-x-small;
}

h3 {
  text-transform: uppercase;
  letter-spacing: .0625rem;
}

%block-text {
  @extend %margin-reset;
  margin-bottom: $size-large;

  &:last-child { margin-bottom: 0; }
}

p { @extend %block-text; }

ul {
  @extend %margin-reset;
  @extend %padding-reset;
  list-style: none;

  .content & { list-style: disc; }
}

ol,
.content ul {
  @extend %block-text;
  padding: 0 0 0 $size-x-large;
}

dl { @extend %margin-reset; }

%margin-bottom-small { margin-bottom: $size-small; }

dt,
dd { font-size: .875rem; }

dt {
  @extend %margin-bottom-small;
  line-height: $line-height-heading;

  strong { font-size: $size-medium; }
}

dd { @extend %margin-reset; }

table {
  margin-bottom: $size-large;
  width: 100%;
  table-layout: fixed;
}

caption {
  padding: {
    right: $size-medium;
     left: $size-medium;
  }
  text-align: left;

  span { @extend h2; }
}

th,
td {
  border-bottom: $border;
  padding: $size-x-small $size-medium;
  vertical-align: baseline;

  &:first-child { width: 33.33333333333333%; }
}

td { text-align: center; }

form p { @extend %margin-bottom-small; }

label,
button { cursor: pointer; }

label {
  @extend %margin-bottom-small;
  display: inline-block;
  color: $black;
}

input,
button {
  border-radius: $border-radius;
  padding: {
    right: $size-medium;
     left: $size-medium;
  }
  width: 100%;
}

input {
  @include shadow;
  border: $border;
  padding: {
       top: $size-small;
    bottom: $size-small;
  }
  background-color: $white;
}

button {
  @extend %border-reset;
  @include shadow(rgba(mix($blue, $marvel), .25));
  padding: {
       top: $size-xx-small;
    bottom: $size-xx-small;
  }
  font-size: $size-large;
  background: mix($blue, $marvel);
  color: $white;

  &:hover,
  &:focus {
    @include shadow(rgba(mix(mix($black, $blue), $marvel), .25));
    background: mix(mix($black, $blue), $marvel);
  }
}

img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}



@include breakpoint($mq-small) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
  }

  #{headings()} { font-weight: $font-weight-light; }

  h1 { font-size: $size-x-large; }

  h2 { font-size: $size-large; }
}



@include breakpoint($mq-medium) {
  h2 {
    font-size: $size-x-large;
    color: $marvel;
  }

  form {
    margin: 0 auto;
    max-width: 20rem;
  }
}



@include breakpoint($mq-large) {
  h1 {
    font-size: $size-xx-large;
    color: $albatross;
  }

  h2 {
    font-size: $size-x-large;
    color: $marvel;
  }

  form {
    margin: 0 auto;
    max-width: 20rem;
  }
}
