$marvel:           #6C788E;
$albatross:        #A6AEC1;
$apollo-smiles:    #CFD5E1;
$blue-white-whale: #EDEDF2;
$khaliki:          #FCFDFF;



$ms-base:  1rem;
$ms-ratio: $octave;

$size-hairline: (1px / 16px) * 1rem;

$size-xx-small: ms(-2);
$size-x-small:  ms(-1);
$size-small:    ms(-0.415037499);
$size-medium:   ms(0);
$size-large:    ms(.584962501);
$size-x-large:  ms(1);
$size-xx-large: ms(2);

$mq-x-small:   (240px / 16px) * 1em;
$mq-small:     (320px / 16px) * 1em;
$mq-small-max: (319px / 16px) * 1em;
$mq-medium:    (480px / 16px) * 1em;
$mq-large:     (768px / 16px) * 1em;

$border:        $size-hairline solid $blue-white-whale;
$border-radius: $size-xx-small;

$font-weight-light:   300;
$font-weight-regular: 400;

$line-height:         1.5;
$line-height-heading: 1.25;
$line-height-reset:   1;

$font-family: 'Source Sans Pro', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
