@import "vendor/normalize";


* {
  &,
  &:before,
  &:after { box-sizing: border-box; }
}

html {
  font-size: 100%;
  color: #1C2833;
  text-shadow: 0 1px 0 rgba(white, .25);
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body { font: 1rem/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none;
  color: #0F4880;

  &:hover,
  &:focus { color: #002A2A; }
}

h1,
h2,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
p,
ul,
ol { padding: .75rem 0; }

h1,
h2 { font-weight: normal; }

h1 { text-transform: lowercase; }

ul,
ol {
  margin-left: 2rem;
}

.page {
  display: table;
  width: 100%;
  height: 100vh;
  background: #abc linear-gradient(90deg, #abc 10%, #fff 90%);
  box-shadow: 0 1px 1px rgba(white, .25);
  z-index: 1;
}

.page-content {
  display: table-cell;
  padding: 0 2rem;
  vertical-align: middle;
}

.navigation,
.contentinfo {
  padding: 0 2rem;
  font-size: .75rem;
  text: {
    transform: uppercase;
    align: center;
  }
  background: rgba(white, .75);
  z-index: 2;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 1px 1px rgba(#abc, .25);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;

    & + li { margin-left: .25rem; }
  }

  a {
    display: block;
    padding: 1rem;

    &:hover,
    &:focus { background: rgba(white, .5); }

    &:active { background: rgba(white, .75); }
  }
}

.container,
.mailchimp { margin: 0 auto; }

.container {
  padding: 3rem 0;
  max-width: 60rem;
}

.mailchimp { max-width: 30rem; }

#mc_embed_signup {

  form { padding: 0; }

  label { padding-bottom: .5rem; }

  input.email {
    margin: 0 0 1rem;
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(black, .25);
    padding: 1rem;
    width: 100%;
    min-width: 0;
  }

  .button {
    margin: 0;
    padding: 1rem 2rem;
    height: auto;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgba(black, .5);
    text-shadow: 0 -1px 0 rgba(black, .75);
  }
}

.contentinfo {
  padding: 1rem 0;
  box-shadow: 0 -1px 1px rgba(#abc, .25);
}

.center { text-align: center; }



// From HTML5 Boilerplate

@media print {
  * {
    &,
    &:before,
    &:after,
    &:first-letter,
    &:first-line {
      background: transparent !important;
      text-shadow: none !important;
      color: #000 !important;
      box-shadow: none !important;
    }
  }

  a {
    &,
    &:visited { text-decoration: underline; }

    &[href]:after { content: " (" attr(href) ")"; }


    &[href^="#"],
    &[href^="javascript:"] {
      &:after { content: ""; }
    }
  }

  abbr[title]:after { content: " (" attr(title) ")"; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead { display: table-header-group; }

  tr,
  img { page-break-inside: avoid; }

  img { max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 { page-break-after: avoid; }
}
