---
title: Thank You
layout: layout_1_column
---

%p.text-center.lead Your message was sent!

%p= image_tag 'pooh.gif', alt: 'Happy Dance', class: 'img-responsive img-rounded img-thumbnail center-block'
