---
title: Sponsor
---

%section.section
  .section__content
    %h1 Help Create Clarity

    .content
      :markdown
        Thank you for your consideration in sponsoring Clarity. This page is a guide to all the sponsorship opportunities available for the event. If you have different ideas for how we can partner together, please do not hesitate to [contact Jina](http://jina.me/contact).

        All sponsors will have their logo on the website and in the program handed out at the event.

        ## About the Event
        Clarity is a 2-day, single-track style-guide conference in San Francisco. Leaders and advocates from various topics relating to style guides, design systems, frameworks, branding, and documentation will share their unique perspectives and approaches.

        Attendees will vary from designers, developers, product managers, researchers, and copywriters from enterprise, B2B, startups, non-profits, etc.

        ## Announced Speakers
        * Brad Frost
        * Cordelia McGee-Tubb

        If you would like to know who the other yet-to-be announced but confirmed speakers are, [contact Jina](http://jina.me/contact).

      .table
        %table
          %caption
            %span Sponsor Levels
          %thead
            %tr
              %th Benefits
              %th In-Kind
              %th Basic
              %th Silver
              %th Platinum
              %th Diamond
          %tbody
            %tr
              %th Tickets to the event
              %td
              %td 1
              %td 2
              %td 5
              %td 10
            %tr
              %th Discount for additional tickets
              %td
              %td 10% off
              %td 15% off
              %td 20% off
              %td 25% off
            %tr
              %th Scholarship ticket
              %td
              %td
              %td &#10003;
              %td &#10003;
              %td &#10003;
            %tr
              %th Logo on website & brochure
              %td &#10003;
              %td &#10003;
              %td &#10003;
              %td &#10003;
              %td &#10003;
            %tr
              %th Logo on event signage
              %td
              %td &#10003;
              %td &#10003;
              %td &#10003;
              %td &#10003;
            %tr
              %th Preferred logo placement
              %td
              %td
              %td
              %td &#10003;
              %td &#10003;
            %tr
              %th Logo on stage
              %td
              %td
              %td
              %td
              %td &#10003;
            %tr
              %th Social media mentions
              %td 1
              %td 1
              %td 2
              %td 3
              %td 5
            %tr
              %th Small brochures or swag in attendee bags
              %td
              %td &#10003;
              %td &#10003;
              %td &#10003;
              %td &#10003;
            %tr
              %th 5-minute speaking slot
              %td
              %td
              %td
              %td
              %td &#10003;

      :markdown
        ### In-Kind Sponsors
        If you have a product or service you can offer to either our attendees or to help make the event happen, let us know!

        ### Basic Sponsors (any contribution smaller than Silver Level)
        We appreciate any amount of support you can provided. If you have ideas for smaller contributions, let us know. Ideas for this can be:

        * Public transportation tickets for speakers
        * Speaker gifts
        * Giveaways

        ### Silver Level Options at **$2,500**
        Choose which of the following items you silver-level sponsorship will go towards:

        * Snacks and beverages for day 1
        * Snacks and beverages for day 2
        * Childcare
        * Reliable internet for the event and parties
        * Photobooth at closing party
        * Lanyards
        * Travel & compensation for a speaker

        ### Platinum Level Options at **$5,000**
        Choose which of the following items you silver-level sponsorship will go towards:

        * Breakfast for both days
        * Opening party
        * Recording all talk sessions
        * Speaker dinner
        * Live transcription
        * Coffee service with barista for both days
        * 2 items from Silver Level Options

        ### Diamond Level Options
        Choose which of the following items you silver-level sponsorship will go towards:

        * Conference venue
        * Closing party
        * 2 items from Platinum Level Options

        If you would like to sponsor our event, please [contact Jina](http://jina.me/contact).
