---
title: Team
---

%ul
  - data.team.profiles.each do |profile|
    %li{id: profile.slug}
      %h2
        - if profile.url?
          = link_to profile.name, profile.url
        - else
          = profile.name
      %p= profile.bio
